@media screen and (max-width:576px) {
    .navbar__container {
        display: flex;
        flex-direction: row;
        width: 100vw;
        align-items: center;
        height: 50px;
        bottom: 0;
        justify-content: space-between;
    }

    .navbar__logo {
        padding: 0;
        margin-left: 20px;

    }

    .navbar__main-container {
        margin-right: 20px;
        position: relative;
    }
    .icon-close{
        color: white;
        font-size: 20px;
        position: fixed;
        bottom: 160px;
        right: 10px;

    }
    .nav__list-ul {
        position: fixed;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        bottom: 45px;
        align-items: center;
        left: 0;
        width: 100%;
        height: 150px;
        background-color: blue;
        transition: transform 0.3s ease;
        z-index: 1;
    }
    .nav__sublist-ul{
        position: fixed;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        top: 45px;
        align-items: center;
        left: 0;
        width: 100%;
        height: 150px;
        background-color: blue;
        transition: transform 0.3s ease;
        z-index: 1;
    }

    .open {
        transform:translateX(-100%);
      }
      .main__menu-list{
        margin-right: 10px;
         display: inline-block;
      }

    .main__submenu{
        position: fixed;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        bottom: 45px;
        align-items: center;
        left: 0;
        width: 100%;
        height: 150px;
        background-color: pink;
        transition: transform 0.3s ease;
        z-index: 0;
    }
    .open2 {
        transform:translateX(100%);
      }
    .main__submenu-list{
        margin-right: 10px;
        display: inline-block;
    }

}