.navigation__main{
    position: relative;
}
.navbar__container{
    position: fixed;
    width: 224px;
    background-color:var(--blue-pursian-600);
    height: 100%;
    /* height: 100vh; */
    color: white;
    overflow: auto;
}
.navbar__logo{
    padding: 3rem 1.5rem;
}
.navbar__main-container{
    border-bottom: 1px solid var(--blue-pursian);
    /* overflow: auto; */
}
.navbar__main-container:nth-last-child(1){
    border-bottom: none;
}
.navbar__main-container:hover{
    background-color: var(--blue-pursian);
    cursor: pointer;
}

.navbar__main-accordion{
    padding: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    gap: 15px;
}
.accordion_active{
    background-color: var(--blue-pursian-400);
}
.navbar__main-icon{
    display: inline-block;
    position: absolute;
    /* margin-left: 5px; */
    right: 10px;
    margin-top: -40px;
    transition: transform 0.3s;
    color: white;
}
.rotate {
    transform: rotate(90deg);
  }
.navbar__accordion-submenu{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}
.navbar__accordion-submenu.submenu-active{
    max-height: 500px;
    background-color: var(--blue-pursian-400);
}

.navbar__submenu-item{
    background-color: var(--blue-cyan-light);
    color: var(--text-color);
    padding: 1rem;
}
.navbar__submenu-list{
    display: flex;
    flex-direction: row;
    gap:15px ;
    align-items: center;
}
.navbar__submenu-item:hover{
background-color: var(--blue-pursian);
color: white;
}
.item-active{
    background-color: var(--blue-pursian-400);
    color: white;
}
.navbar__footer{
    display: none;
}
@media screen and (min-width:992px){
    
}
@media screen and  (min-width: 768px) and (max-width: 991.98px) {
    .navbar__container{
        position: fixed;
    width: 180px;
    background-color:var(--blue-pursian-600);
    height: 100%;
    /* height: 100vh; */
    color: white;
    overflow: auto;
    }
 }
@media screen and (max-width:576px){
    .navbar__container{
       display: block;
       position: fixed;
       width: 100%;
       background-color:var(--blue-pursian-600);
       height: 100%;
       color: white;
       overflow: auto;
       top: 0;
       transition: transform 0.3s ease;
       z-index: 2;
    }

    .navbar__footer{
        display: flex;
        justify-content: end;
        padding-right: 20px;
        position: fixed;
        bottom: 0px;
        height: 50px;
        width: 100%;
        background-color: var(--blue-pursian-600);
        z-index: 2;
    }
}
