.content__container{
height: 100vh;
overflow: hidden;
position: relative;
}
.content__header{
position: relative;
display: flex;
justify-content: end;
align-items: center;
height: 60px;
box-shadow:  0 2px 5px rgba(0, 0, 0, 0.2);
}
.content__main{
    height: calc(100% - 60px);
    overflow: hidden;
}

.dropdown{
    margin-right: 20px;
}
.dropdown__button{
display: flex;
flex-direction: row;
gap: 10px;
align-items: center;

}
.topnav-icon{
 font-size: 25px;
}
.topnav-icondown{
    font-size: 10px;
}

.dropdown__content{
    background-color: white;
    position: absolute;
    top: 50px;
    display: flex;
    flex-direction: column;
    width: 16%;
    /* padding: 5px; */
    /* gap: 20px; */
}

.dropdown__content::before{
    content: '';
    /* width: 10px; */
    /* height: 10px; */
    border-left: 5px solid transparent;
    /* border-top-left-radius: 50px; */
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    position: absolute;
    top: -10px;
    left: -0.25px;
}
.dropdown__content a{
    padding: 10px 5px;
}
.dropdown__content a:hover{
    /* background-color: red; */
    background-color: var(--blue-pursian-400);
    color: white;
}