.container__kategori{
    width: 100%;
    height: 100%;
    overflow: auto;
    position: static;

}
.container__dropdown{
    position: relative;
    width: 100%;
    text-align: end;
}
.container__dropdown>button{
    background-color: var(--blue-pursian);
    color: var(--text-white);
    padding: 10px;
    font-size: 0.9rem;
    border-radius: 12px;
    transition: 0.3s ease-in-out;
}
.container__dropdown>button:hover{
    filter: brightness(120%);
    font-size: 0.95rem;
    transform:rotate3d(2000%)
}

.container__table{
   width: 100%;
   position: static;
   overflow: auto;
   background-color: red;
   margin-top: 10px;
}