.content__container{
    /* background-color: aqua; */
    padding: 20px;
    width: 100vw;
    height: 100%;
    overflow: hidden;
}

.content__card{
    /* background-color: red; */
    width: 79vw;
    overflow: auto;
}
.content__chart{
 /* background-color: aquamarine; */
 padding: 10px;
 width: 79vw;
}
#hightchart{
    height: 55vh;
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {}

@media screen and (max-width:576px){
    .content__container{
        width: 100%;
        padding: 20px;
        overflow: auto;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
    }
    .content__chart{
        width: 100%;
    }
    .content__card{
        width: 100%;
    }
    #hightchart{
        height: 100%;
    }
}